*.class
*.iml
*.jar
*.log
*.swp
*~
.DS_Store
.calva/output-window/
.classpath
.clj-kondo/.cache
.cljs_node_repl/
.cpcache
.cpcache/
.eastwood
.factorypath
.hg/
.hgignore
.idea
.lein-*
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.lsp/.cache
.lsp/sqlite.db
.nrepl-*
.nrepl-history
.nrepl-port
.portal/vs-code.edn
.project
.rebel_readline_history
.settings
.shadow-cljs
.socket-repl-port
.sw*
.vscode
/checkouts
/checkouts/
/classes
/classes/
/lib/
/out
/src/gen
/target
/target/
Brewfile.lock.json
cljs-test-runner-out/
node_modules/
pom.xml
pom.xml.asc
public/js
