#kaocha/v1
{:reporter
 kaocha.report/documentation

 :plugins
 [:orchestra
  :preloads
  :kaocha.plugin.alpha/spec-test-check]

 :kaocha.plugin.preloads/ns-names
 [org.sqids.clojure]

 :kaocha.plugin.capture-output/capture-output?
 false

 :kaocha.spec.test.check/check-asserts?
 true

 :kaocha.spec.test.check/instrument?
 true}
